p {
    color: aliceblue;
    background-color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.list-item {
    color: navy;
    background-color: aliceblue;
    font-style: italic;
}

#sep {
    color: tomato;
    background-color: #ffe2d7;
    font-weight: bold;
}

#box1 {
    border: 1px solid black;
    margin: 32px;
    padding: 12px;
}

#box2 {
    border: 1px solid red;
}